/*.table{
    width: 75% !important;
    margin-left: auto;
    margin-right: 2%;
}*/
.parent{
    margin-left: 250px;
    margin-bottom: 250px;
  }
  .table {
    border: 1px solid #ddd;
  }
  
  thead th {
    background-color: #f5f5f5;
    padding: 10px 15px;
    border: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #eee;
  }
  
  th, td {
    text-align: left;
  }
  .btn-detail {
    background-color: #337ab7; /* Blue background */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 15px;
  }
  .btn-delete {
    background-color: #dc3545; /* Red background */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 15px;
  }
  
  .btn-update {
    background-color: #ffc107; /* Yellow background */
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
  }
  modal {
    /* modals are hidden by default */
    display: none;
  }
  
  body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
  }