<div class="container">
    <h2 class="mb-4">Add Certificat</h2>
    <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
    <form [formGroup]="certificatForm" (ngSubmit)="addCertificat()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dateDelivrance">Date </label>
                    <input type="date" class="form-control" id="dateDelivrance" formControlName="dateDelivrance">
                    <div *ngIf="certificatForm.get('dateDelivrance')?.invalid && (certificatForm.get('dateDelivrance')?.dirty || certificatForm.get('dateDelivrance')?.touched)" class="text-danger">
                        <div *ngIf="isFieldInvalid('dateDelivrance')" class="text-danger">Date est required.</div>
                            <div *ngIf="certificatForm.get('dateDelivrance')?.errors?.['required']">Date required.</div>
                            <div *ngIf="certificatForm.get('dateDelivrance')?.errors?.['pastOrPresent']">Date must be in the past or present.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" formControlName="description">
                    <div *ngIf="certificatForm.get('description')?.invalid && (certificatForm.get('description')?.dirty || certificatForm.get('description')?.touched)" class="text-danger">
                        <div *ngIf="certificatForm.get('description')?.errors?.['required']">La description required.</div>
                        <div *ngIf="certificatForm.get('description')?.errors?.['maxlength']">max 10 caracteres.</div>
                        <div *ngIf="certificatForm.get('description')?.errors?.['pattern']">can only contain letters.</div>
                       </div>
                </div>
                <div class="form-group">
                    <label for="statut">Status</label>
                     <input type="text" class="form-control" id="statut" formControlName="statut">
                    <div *ngIf="certificatForm.get('statut')?.invalid && (certificatForm.get('statut')?.dirty || certificatForm.get('statut')?.touched)" class="text-danger">
                        <div *ngIf="certificatForm.get('statut')?.errors?.['required']"> statut required.</div>
                        <div *ngIf="certificatForm.get('statut')?.errors?.['maxlength']">max 10 caracteres.</div>
                        <div *ngIf="certificatForm.get('statut')?.errors?.['pattern']">can only contain letters.</div>
                    </div>
                </div>
                
               
                
            </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="moduleFormation">Module Formation</label>
                       
                            <select multiple class="form-control" id="moduleformations" formControlName="moduleFormation" (change)="onModuleFormationSelectionChange($event)">
                                <option *ngFor="let form of moduleformation" [ngValue]="form">{{ form.titre }}</option>
                            </select>
                            
                         
                    </div>
                <div class="form-group">
                    <label for="user">User</label>
                    
                        <select multiple class="form-control" id="users" formControlName="user" (change)="onUserSelectionChange($event)">
                            <option *ngFor="let form of user" [ngValue]="form">{{ form.firstName}}</option>
                    </select>
                </div>
                
            </div>
            
            <!-- Ajouter le reste de vos champs de formulaire ici -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-outline-primary btn-cancel" routerLink="/certificat/all-certificat">Cancel</button>
            </div>
        </div>
    </form>
</div>
