<app-navbar-back></app-navbar-back>
<app-sidebar-back></app-sidebar-back>

<div class="content">
    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
        <h5 class="m-0">Manage Formations</h5>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
            <i class="pi pi-search"></i>
            <form (ngSubmit)="searchFormations(titre)">
                <input type="text" [(ngModel)]="titre" name="titre" placeholder="Entrer title">
                
            </form>
        </span>
    </div>
    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
    <a routerLink="/formation/add" class="btn btn-outline-primary"><i class="far fa-file-alt"></i> Add</a></div>
    <!-- Afficher les détails de chaque formation dans un tableau -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let formation of formations">
            <td>{{ formation.titre }}</td>
            <td>{{ formation.description }}</td>
            <td>{{ formation.dateDebut }}</td>
            <td>{{ formation.dateFin }}</td>
            
            <!-- Boutons d'action pour chaque formation -->
            <td>
                <button type="button" [routerLink]="'/formation/update/' + formation.id" class="btn btn-outline-info me-2" data-bs-toggle="modal" data-bs-target="#exampleModal1" >
                    <i class="fas fa-edit"></i> Edit
                </button>
                <button type="button" [routerLink]="'/formation/delete/' + formation.id" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    <i class="fas fa-trash-alt"></i> delete 
                </button>
                
            </td>
        </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>
