<!-- <app-header-front></app-header-front>
<app-slider-front></app-slider-front>
<div class="content">
    <div class="container mt-5">
      <div class="card bg-light shadow-sm" style="margin-left: 200px;">
        <div class="card-header bg-primary text-white">
          <h5 class="card-title">Détails de l'événement</h5> </div>
        <div class="card-body">
          
          <p class="card-text"><b>Nom :</b> {{ evenement.nom }}</p> 
          <p class="card-text"><b>Places :</b> {{ evenement.nbrPlace }}</p> 
          <p class="card-text"><b>Lieu :</b> {{ evenement.lieu }}</p> 
          <p class="card-text"><b>Date :</b> {{ evenement.date }}</p>
        </div>
      </div>
    
      <div class="mt-5" style="margin-left: 200px;">
        <h2>Commentaires</h2>
        
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let commentaire of commentaires">
              <p><b>{{ commentaire.date }}</b> par {{ commentaire.auteur }} (s'il est disponible)</p>
              <p>{{ commentaire.description }}</p>
            </li>
          </ul>
        
       
      </div>
    </div>
    </div>

<app-footer-front></app-footer-front> -->