<app-navbar-back></app-navbar-back>
<app-sidebar-back></app-sidebar-back>
<div class="content">
<table class="table table-hover">
    <thead>
      <tr>
        
        <th scope="col">Nom</th>
        <th scope="col">Nombre de place</th>
        <th scope="col">Date de début</th>
        <th scope="col">Lieu</th>
        <th scope="col">Actions</th>
    
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let evenement of evenementss">
            <td>{{evenement.nom}}</td>
            <td>{{evenement.nbrPlace}}</td>
            <td>{{evenement.date_deb}}</td>
            <td>{{evenement.lieu}}</td>
            <td>
            <button class="btn-update" routerLink="/evenement/{{evenement.id}}">Modifier</button>
            <button class="btn-delete" (click)="deleteEvenement(evenement.id)" >Supprimer</button>
            
            <button class="btn-detail" (click)="detailEvenement(evenement.id)" routerLink="/detailEvenement/{{evenement.id}}" >Détail</button>
          </td>
          </tr>
     
      
    </tbody>
  </table>
</div>
  <app-footer></app-footer>